.jumbotron{
  margin-bottom: 0;
  background-color: #999999 !important;
}
img{
  width: 100%;

}
.imgDiv {
  max-width: 36%;
  margin: 0 auto;
}
.carousel-caption{
  position: initial !important;
}
.textDiv{
  color:white;
  background-color: rgba(0, 0, 0, 0.514);
  margin-bottom: 18px;
  padding: 7px 24px;
}